
<div class="row top-seller mt-xs-40" data-plentyflow-section="Neuheiten">
    <div class="col-xs-12">
        <div class="text-xs-center" data-plentyflow-modul="Titel">
            <h2 data-plentyflow-element="titel">{{ config('CeresEigenesBaseline.default.latestitemHeadline') }} {{ baselineservices.topitems.getLatestItems().resultCount }}</h2> {#  TODO: Topseller-Headline aus Konfiguration auslesen #}
        </div>

        {% set topItems = baselineservices.storespecials.getStoreSpecial(2) %}

        {%  if topItems.currentItems|length > 0 %}
            <div class="row mt-xs-15">
                <div class="swiper-container product-slider">
                    <div class="swiper-wrapper">
                        {% set arrID = [] %} {# HOTFIX #}
                        {% for item in topItems.currentItems %}
                            {% if item is not null %}

                                {% if item.itemDescription.itemId not in arrID %} {# HOTFIX #}
                                    {% set arrID = arrID|merge([item.itemDescription.itemId]) %} {# HOTFIX #}
                                    <div class="swiper-slide">
                                        {% include "CeresEigenesBaseline::Category.Item.Partials.CategoryListItem" with { 'item': services.item.getItem(item.itemDescription.itemId).documents[0] } %}
                                    </div>

                                {% endif %} {# HOTFIX #}

                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev swiper-button-black">&nbsp;</div>
                    <div class="swiper-button-next swiper-button-black">&nbsp;</div>
                </div>

            </div>
        {% endif %}

    </div>
</div>
