.carousel-item{
  min-height: 700px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carousel{
  height: 100% !important;
}

.category-banner{
  background-image: url('https://plentyflow.plentymarkets-cloud02.com/documents/category/18/photo-1445384763658-0400939829cd.jpeg');
  background-position: 0px 30%;
}

#suchfeldContainer{
  position: fixed;
  left: 50%;
  top: 150px;
  margin-left: -150px;
  opacity: 0.95;
  background-color: white;
  border: 1px solid black;
  z-index: 10;
}
