.carousel-item{
  min-height: 400px;
  width: 100%;
  background-size: cover;
}

.carousel{
  height: 100% !important;
}

.category-banner{
  background-image: url('https://plentyflow.plentymarkets-cloud02.com/documents/category/18/photo-1445384763658-0400939829cd.jpeg');
  background-position: 0px 30%;
}

#suchfeldContainer{
  margin: auto;
  position: relative;
  background-color: white;
  z-index: 9999;
}

#sucheSchatten{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9998;
}

@media screen and (max-width: 12000px) {
  .carousel-item {
    height: 700px;
  }
}


@media screen and (max-width: 1200px) {
  .carousel-item {
    height: 600px;
  }
}
